/* Angular Material base styles */
html, body {
    height: 100%;
  }
  
  body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  
  /* Tailwind */
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  