/* Angular Material base styles */
html, body {
    height: 100%;
  }
  
  body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  
  /* Snackbar styles */
  .success-snackbar {
    --mdc-snackbar-container-color: #4caf50 !important;
    --mdc-snackbar-supporting-text-color: #ffffff !important;
    --mat-snack-bar-button-color: #ffffff !important;
  }
  
  .success-snackbar .mat-mdc-snack-bar-action {
    color: #ffffff !important;
  }
  
  .success-snackbar .mdc-snackbar__surface {
    background-color: #4caf50 !important;
  }
  
  .success-snackbar .mdc-snackbar__label {
    color: #ffffff !important;
  }
  
  /* Tailwind */
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  